<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCz99W2Vfxu6RSE8FFRMxzkwuTO1soCGQU</string>
	<key>GCM_SENDER_ID</key>
	<string>619411954048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wouterdevriendt.trivit.watchkitapp</string>
	<key>PROJECT_ID</key>
	<string>fir-trivit</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-trivit.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619411954048:ios:4e1f991047a77d73eb4965</string>
</dict>
</plist>